<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <!-- CDN Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
{% load static %}
<nav class="bg-black text-white h-35">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center">
          <img class="h-16 w-16" src="{% static 'images/image.png' %}" alt="Your Company">
        </div>
        <div class="hidden sm:ml-6 sm:block flex justify-center items-center h-16">
          <div class="flex justify-center items-center h-20">
            <a href="#" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white justify-center" aria-current="page">Dashboard</a>
            <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
            <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
            <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <a class="bg-yellow-600 hover:bg-yellow-500 active:bg-yellow-700 focus:outline-none focus:ring focus:ring-yellow-300 rounded-full px-6 py-2 text-white" href="{% url 'accounts:login' %}">
          Log in
        </a>
        <a class="bg-white hover:bg-yellow-500 active:bg-yellow-700 focus:outline-none focus:ring focus:ring-yellow-300 rounded-full px-6 py-2 text-black" href="{% url 'accounts:register' %}">
          Sign up
        </a>
      </div>
    </div>
  </div>
</nav>

{% block content %}
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="flex flex-col text-center justify-center">
      <h2 class="text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Create your website now!</h2>
      <p class="text-gray-600 mt-2">Choose the template that you like 😍</p>
    </div>
    
    <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <!-- Première carte -->
      <article class="flex max-w-xl flex-col items-center justify-center relative group">
        <h3 class="mt-3 mb-8 text-lg font-semibold text-gray-900 group-hover:text-gray-600 flex items-center justify-center">
          <a href="{% static 'famm/index.html' %}">
            <span class="absolute inset-0"></span>
            Boost your conversion rate
          </a>
        </h3>
        <div class="relative w-full h-64 overflow-hidden rounded-lg shadow-md">
          <img src="{% static 'imageTemplate/image1.png' %}" alt="Image" class="object-cover w-full h-full">
          <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <a href="{% static 'famm/index.html' %}">
              <button class="bg-yellow-600 hover:bg-yellow-500 text-white px-4 py-2 rounded-full mx-2">View</button>
            </a>
            <a href="{% static 'famm1/about.html' %}">
            <button class="bg-blue-600 hover:bg-blue-500 text-white px-4 py-2 rounded-full mx-2">Modify</button>
            </a>
          </div>
        </div>
      </article>

      <!-- Deuxième carte -->
      <article class="flex max-w-xl flex-col items-center justify-center relative group">
        <h3 class="mt-3 mb-8 text-lg font-semibold text-gray-900 group-hover:text-gray-600 flex items-center justify-center">
          <a href="{% static 'sales/index.html' %}">
            <span class="absolute inset-0"></span>
            Improve your sales
          </a>
        </h3>
        <div class="relative w-full h-64 overflow-hidden rounded-lg shadow-md">
          <img src="{% static 'imageTemplate/img2.png' %}" alt="Image" class="object-cover w-full h-full">
          <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <a href="{% static 'sales/index.html' %}">
              <button class="bg-yellow-600 hover:bg-yellow-500 text-white px-4 py-2 rounded-full mx-2">View</button>
            </a>
            <button class="bg-blue-600 hover:bg-blue-500 text-white px-4 py-2 rounded-full mx-2">Modify</button>
          </div>
        </div>
      </article>

      <!-- Troisième carte -->
      <article class="flex max-w-xl flex-col items-center justify-center relative group">
        <h3 class="mt-3 mb-8 text-lg font-semibold text-gray-900 group-hover:text-gray-600 flex items-center justify-center">
          <a href="{% static 'reach/index.html' %}">
            <span class="absolute inset-0"></span>
            Expand your reach
          </a>
        </h3>
        <div class="relative w-full h-64 overflow-hidden rounded-lg shadow-md">
          <img src="{% static 'imageTemplate/img3.png' %}" alt="Image" class="object-cover w-full h-full">
          <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <a href="{% static 'reach/index.html' %}">
              <button class="bg-yellow-600 hover:bg-yellow-500 text-white px-4 py-2 rounded-full mx-2">View</button>
            </a>
            <button class="bg-blue-600 hover:bg-blue-500 text-white px-4 py-2 rounded-full mx-2">Modify</button>
          </div>
        </div>
      </article>


      <!-- Quatrième carte -->
<article class="flex max-w-xl flex-col items-center justify-center relative group">
  <h3 class="mt-3 mb-8 text-lg font-semibold text-gray-900 group-hover:text-gray-600 flex items-center justify-center">
    <a href="{% static 'business/index.html' %}">
      <span class="absolute inset-0"></span>
      Elevate your business
    </a>
  </h3>
  <div class="relative w-full h-64 overflow-hidden rounded-lg shadow-md">
    <img src="{% static 'imageTemplate/img4.png' %}" alt="Image" class="object-cover w-full h-full">
    <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
      <a href="{% static 'business/index.html' %}">
        <button class="bg-yellow-600 hover:bg-yellow-500 text-white px-4 py-2 rounded-full mx-2">View</button>
      </a>
      <button class="bg-blue-600 hover:bg-blue-500 text-white px-4 py-2 rounded-full mx-2">Modify</button>
    </div>
  </div>
</article>

<!-- Cinquième carte -->
<article class="flex max-w-xl flex-col items-center justify-center relative group">
  <h3 class="mt-3 mb-8 text-lg font-semibold text-gray-900 group-hover:text-gray-600 flex items-center justify-center">
    <a href="{% static 'portfolio/index.html' %}">
      <span class="absolute inset-0"></span>
      Showcase your portfolio
    </a>
  </h3>
  <div class="relative w-full h-64 overflow-hidden rounded-lg shadow-md">
    <img src="{% static 'imageTemplate/img5.png' %}" alt="Image" class="object-cover w-full h-full">
    <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
      <a href="{% static 'portfolio/index.html' %}">
        <button class="bg-yellow-600 hover:bg-yellow-500 text-white px-4 py-2 rounded-full mx-2">View</button>
      </a>
      <button class="bg-blue-600 hover:bg-blue-500 text-white px-4 py-2 rounded-full mx-2">Modify</button>
    </div>
  </div>
</article>

<!-- Sixième carte -->
<article class="flex max-w-xl flex-col items-center justify-center relative group">
  <h3 class="mt-3 mb-8 text-lg font-semibold text-gray-900 group-hover:text-gray-600 flex items-center justify-center">
    <a href="{% static 'ecommerce/index.html' %}">
      <span class="absolute inset-0"></span>
      Build your e-commerce
    </a>
  </h3>
  <div class="relative w-full h-64 overflow-hidden rounded-lg shadow-md">
    <img src="{% static 'imageTemplate/img6.png' %}" alt="Image" class="object-cover w-full h-full">
    <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
      <a href="{% static 'ecommerce/index.html' %}">
        <button class="bg-yellow-600 hover:bg-yellow-500 text-white px-4 py-2 rounded-full mx-2">View</button>
      </a>
      <button class="bg-blue-600 hover:bg-blue-500 text-white px-4 py-2 rounded-full mx-2">Modify</button>
    </div>
  </div>
</article>
    </div>
  </div>
</div>
{% endblock %}
</body>
</html>
